.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.ntua_food {
  background-color: #474747;
  padding: 10px;
}
.ntua_food a {
  text-decoration: none;
  vertical-align: middle;
}
.ntua_food_01 {
  background-color: #ffffff;
  padding: 30px;
}
.ntua_food_01 a {
  color: black;
  width: 80px;
  text-decoration: none;
  vertical-align: middle;
}

.ntua_food_01 ul {
  display: inline-block;
  padding: 40;
  margin: 20;
  vertical-align: middle;
  text-align: right;
}
.ntua_food_01 li {
  display: inline-block;
  position: relative;
}
.ntua_food_01 ul li a {
  padding: 30px;
}

.ntua_food_01 ul li a:hover {
  background-color: #dbdfd0;
  border-radius: 50px;
  color: hwb(229 9% 18%);
}
.ntua_menu {
  text-align: center;
  padding: 10px;
}
.ntua_menu01 {
  text-align: center;
  border-radius: 10px;
}

.ntua_menu01 input {
  color: black;
  width: 80px;
  text-decoration: none;
  vertical-align: middle;
}
